.section-mixx {
  position: relative;
  .section-mixx__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    will-change: filter;
    -webkit-filter: blur(50px);
    filter: blur(50px);
  }
  &::before {
    background-color: #3fcbff;
    top: 10%;
    left: 0%;
    will-change: filter;
    -webkit-filter: blur(50px);
    filter: blur(50px);
  }
  &::after {
    background-color: #d9238a;
    right: 10%;
    bottom: 45%;
  }
  .section-layer {
    padding-top: 2rem;
  }
  .box-content {
    margin: 0;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    &__title {
      text-align: left;
      margin-bottom: 1.8rem;
      color: #fff;
    }
    &__text {
      text-align: left;
      position: relative;
      max-width: 39rem;
    }
    &__text p {
      text-align: left;
      font-size: 1.6rem;
      line-height: 1.3;
      color: #fff;

      display: inline;
      position: relative;
    }
  }

  .fadeIn {
  }
  .btn {
    padding: 1.1rem 3.3rem;
    min-width: auto;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 1rem;
    align-self: flex-start;
  }

  .box-pic {
    justify-content: center;
    // display: none;
    .pic-layer {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    img {
      min-width: 100%;
    }
  }

  @media (min-width: 600px) {
    .section-layer {
      display: block;
      padding-top: 6.5rem;
      padding-bottom: 3rem;
    }
    .section-mixx__content {
      flex-direction: row;
      justify-content: space-between;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      filter: blur(50px);
    }
    &::before {
      background-color: #3fcbff;
      top: 25%;
      left: auto;
      right: 25%;
    }
    &::after {
      background-color: #d9238a;
      right: 10%;
      bottom: 5%;
    }

    .box-content {
      width: auto;
      max-width: none;
      order: 1;
      flex-basis: 100%;
      &__title {
        margin-bottom: 2.4rem;
        font-size: 3.8rem;
        line-height: 4.4rem;
        color: #fff;
      }
      &__text {
        max-width: 80%;
      }
    }

    .btn {
      padding: 1.6rem 4.2rem;
      min-width: auto;
      margin-left: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-top: 2.2rem;
      align-self: flex-start;
    }

    .box-pic {
      display: block;
      flex: none;
      width: 30%;
      position: relative;
      z-index: 10;
      order: 2;
      img {
        position: absolute;
        display: block;
        left: 0;
        max-width: 20rem;
      }
    }
  }
}
